.loading-container {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Full viewport height */
  }
  
  .loading-gif {
    width: 100px;
    height: 100px;
  }
  
  .bg-light-navy {
    background-color: #2563EB;
  }

  .hover-light-navy:hover {
    background-color: #3B82F6;
  }